In [ ]:
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
your_major = "STAT" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [3]:
!nvidia-smi

Sat Dec 31 11:10:47 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   69C    P0    33W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [4]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2023&term=1R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

STAT170-01 완료
STAT170-02 완료
STAT170-03 완료
STAT170-04 완료
STAT180-01 완료
STAT180-02 완료
STAT201-00 완료
STAT204-00 완료
STAT221-00 완료
STAT232-00 완료
STAT243-00 완료
STAT323-00 완료
STAT341-00 완료
STAT342-00 완료
STAT343-00 완료
STAT401-00 완료
STAT407-00 완료
STAT409-00 완료
STAT413-00 완료
STAT423-00 완료
STAT436-00 완료

In [5]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호                   강의명                               시간   교수명
0   STAT170-01                기초통계학       화(2) 정경관 503호 목(2) 정경관 503호   조형준
1   STAT170-02                기초통계학       화(5) 정경관 101호 목(5) 정경관 101호   차재형
2   STAT170-03                기초통계학       화(6) 정경관 101호 목(6) 정경관 101호   차재형
3   STAT170-04                기초통계학   화(7-8) 정경관 101호 목(7-8) 정경관 101호  None
4   STAT180-01            통계계산소프트웨어       월(5) 교양관 103호 수(5) 교양관 103호  None
5   STAT180-02            통계계산소프트웨어       월(6) 교양관 103호 수(6) 교양관 103호  None
6   STAT201-00             통계수학(영강)       화(5) 정경관 205호 목(5) 정경관 205호   김경희
7   STAT204-00            통계계산프로그래밍       화(1) 교양관 409호 목(1) 교양관 409호  None
8   STAT221-00            확률론입문(영강)                   월(7-8)  수(7-8)     송준
9   STAT232-00            수리통계학(영강)       화(6) 정경관 202호 목(6) 정경관 202호   송성주
10  STAT243-00     사회과학을위한데이터과학(영강)   화(7-8) 정경관 202호 목(7-8) 정경관 202호   박민규
11  STAT323-00               통계계산방법       월(1) 정경관 205호 수(1) 정경관 205호  None
12  STAT341-00                실험계획법       월(2) 정경관 507호 수(2) 정경관 507호   이재원
13  STAT342-00                 회귀분석       월(5) 정경관 101호 수(5) 정경관 101호   구자용
14  STAT343-00              범주형자료분석       화(2) 정경관 501호 목(2) 정경관 501호    정환
15  STAT401-00          다변량통계분석(영강)       화(6) 정경관 205호 목(6) 정경관 205호   송주원
16  STAT407-00             인과추론(영강)       화(1) 교양관 303호 목(1) 교양관 303호   최상범
17  STAT409-00       통계적데이터과학II(영강)       월(6) 정경관 202호 수(6) 정경관 202호   신승준
18  STAT413-00                금융통계학       화(5) 정경관 202호 목(5) 정경관 202호   송성주
19  STAT423-00         생명과학을위한데이터과학       월(5) 정경관 507호 수(5) 정경관 507호   이재원
20  STAT436-00   강화학습을위한확률과정과표집(영강)   화(7-8) 교양관 105호 금(7-8) 교양관 105호   임성빈

In [6]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}.xlsx")

In [7]:
your_major = "KECE" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [8]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2023&term=1R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

KECE203-01 완료
KECE203-02 완료
KECE203-03 완료
KECE203-04 완료
KECE205-01 완료
KECE205-02 완료
KECE205-03 완료
KECE205-04 완료
KECE205-05 완료
KECE205-06 완료
KECE205-07 완료
KECE205-08 완료
KECE205-09 완료
KECE207-01 완료
KECE207-02 완료
KECE207-03 완료
KECE207-04 완료
KECE209-01 완료
KECE209-02 완료
KECE209-03 완료
KECE231-01 완료
KECE231-02 완료
KECE231-03 완료
KECE231-04 완료
KECE301-01 완료
KECE301-02 완료
KECE301-03 완료
KECE301-04 완료
KECE303-01 완료
KECE303-02 완료
KECE303-03 완료
KECE303-04 완료
KECE303-05 완료
KECE303-06 완료
KECE303-07 완료
KECE303-08 완료
KECE313-01 완료
KECE313-02 완료
KECE313-03 완료
KECE323-01 완료
KECE323-02 완료
KECE331-01 완료
KECE331-02 완료
KECE331-03 완료
KECE331-04 완료
KECE343-00 완료
KECE361-01 완료
KECE361-02 완료
KECE361-03 완료
KECE403-00 완료
KECE411-00 완료
KECE417-00 완료
KECE423-00 완료
KECE437-00 완료
KECE443-00 완료
KECE445-00 완료
KECE449-00 완료
KECE461-00 완료
KECE463-00 완료
KECE471-00 완료
KECE480-00 완료
KECE483-00 완료
KECE484-00 완료
KECE492-00 완료
KECE495-00 완료

In [9]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호           강의명                                     시간   교수명
0   KECE203-01        전기회로Ⅰ             월(5) 창의관 116호 수(5) 창의관 116호   김규태
1   KECE203-02    전기회로Ⅰ(영강)           월(5) 신공학관B101호 수(5) 신공학관B101호   최승연
2   KECE203-03    전기회로Ⅰ(영강)             월(5) 과도관 409호 수(5) 과도관 409호   이남윤
3   KECE203-04    전기회로Ⅰ(영강)             월(5) 창의관 207호 수(5) 창의관 207호  None
4   KECE205-01       전기회로실험                    화(6-8) 신공학관106호(실험실)  None
..         ...           ...                                    ...   ...
60  KECE480-00       로봇공학개론                         목(7-9) 창의관 127호   백상헌
61  KECE483-00       메카트로닉스             월(5) 공학관 368호 수(5) 공학관 368호   임묘택
62  KECE484-00        지능시스템             화(1) 공학관 466호 목(1) 공학관 466호  None
63  KECE492-00       무선네트워크   화(2) 하나과학관 지하 111호 목(2) 하나과학관 지하 111호   김황남
64  KECE495-00   전력전자공학(영강)       월(3-4) 신공학관B105호 수(3-4) 신공학관B105호   이상빈

[65 rows x 4 columns]

In [10]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}.xlsx")

In [11]:
your_major = "COSE" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [12]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2023&term=1R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

COSE101-01 완료
COSE101-02 완료
COSE101-03 완료
COSE101-04 완료
COSE101-05 완료
COSE102-01 완료
COSE102-02 완료
COSE111-01 완료
COSE111-02 완료
COSE111-03 완료
COSE111-04 완료
COSE111-05 완료
COSE112-00 완료
COSE157-00 완료
COSE211-01 완료
COSE211-02 완료
COSE211-03 완료
COSE213-01 완료
COSE213-02 완료
COSE213-03 완료
COSE214-00 완료
COSE215-01 완료
COSE215-02 완료
COSE221-01 완료
COSE221-02 완료
COSE221-03 완료
COSE222-01 완료
COSE281-01 완료
COSE281-02 완료
COSE312-00 완료
COSE321-00 완료
COSE331-00 완료
COSE341-01 완료
COSE341-02 완료
COSE341-03 완료
COSE342-01 완료
COSE342-02 완료
COSE361-01 완료
COSE361-02 완료
COSE361-03 완료
COSE363-00 완료
COSE371-01 완료
COSE371-02 완료
COSE385-00 완료
COSE389-00 완료
COSE394-00 완료
COSE401-00 완료
COSE402-00 완료
COSE403-00 완료
COSE404-00 완료
COSE405-00 완료
COSE407-00 완료
COSE415-00 완료
COSE421-00 완료
COSE423-00 완료
COSE441-00 완료
COSE457-00 완료
COSE461-00 완료
COSE471-01 완료
COSE471-02 완료
COSE480-00 완료
COSE483-00 완료
COSE485-00 완료
COSE490-00 완료

In [13]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호          강의명                                       시간   교수명
0   COSE101-01   컴퓨터프로그래밍I                        금(5-6) 애기능생활관 301호   최수경
1   COSE101-02   컴퓨터프로그래밍I       월(3-4) 애기능생활관 301호 수(3) 애기능생활관 301호   장문정
2   COSE101-03   컴퓨터프로그래밍I         월(6) 애기능생활관 301호 수(6) 애기능생활관 301호   장문정
3   COSE101-04   컴퓨터프로그래밍I                         금(5-6) 정보통신관 205호  None
4   COSE101-05   컴퓨터프로그래밍I                         금(1-2) 정보통신관 205호  None
..         ...          ...                                      ...   ...
59  COSE471-02       데이터과학         화(5) 애기능생활관 302호 목(5) 애기능생활관 302호   강재우
60  COSE480-00    산학캡스톤디자인           화(7-8) 과도관 410호 토(5-7) 과도관 410호   이숙윤
61  COSE483-00      무선회로설계         화(3-4) 과도관 614A호 금(3-4) 과도관 614A호   이주섭
62  COSE485-00   정보이론과추론학습           월(2) 정보통신관 202호 수(2) 정보통신관 202호   정원주
63  COSE490-00   전산학특강(영강)   월(6) 생명과학관(동관)107 호 목(6) 생명과학관(동관)107 호   박성빈

[64 rows x 4 columns]

In [14]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}.xlsx")

In [15]:
your_major = "JMCO" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [16]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2023&term=1R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

JMCO203-00 완료
JMCO247-01 완료
JMCO247-02 완료
JMCO248-00 완료
JMCO252-00 완료
JMCO253-00 완료
JMCO257-00 완료
JMCO259-00 완료
JMCO262-00 완료
JMCO267-00 완료
JMCO269-00 완료
JMCO275-01 완료
JMCO275-02 완료
JMCO277-01 완료
JMCO277-02 완료
JMCO277-03 완료
JMCO362-00 완료
JMCO363-00 완료
JMCO374-00 완료
JMCO379-00 완료
JMCO384-00 완료
JMCO385-00 완료
JMCO387-00 완료
JMCO392-01 완료
JMCO392-02 완료
JMCO395-00 완료
JMCO447-00 완료
JMCO451-00 완료
JMCO457-00 완료
JMCO459-00 완료
JMCO461-00 완료

In [17]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

          학수번호                강의명                                 시간   교수명
0   JMCO203-00            미디어학입문                    금(5-6) 미디어관 602호   정세훈
1   JMCO247-01       창의적미디어기획과표현                    금(1-3) 미디어관 602호   이헌율
2   JMCO247-02   창의적미디어기획과표현(영강)                     금(1-3) 교양관 201호   신혜린
3   JMCO248-00      미디어데이터사이언스입문                    월(5-6) 미디어관 602호   김성태
4   JMCO252-00   미디어테크놀로지와문화(영강)                     금(1-2) 교양관 606호   마동훈
5   JMCO253-00           저널리즘의이해                    목(5-6) 미디어관 602호   박재영
6   JMCO257-00     한국의문화와미디어(영강)                    월(6-8) 미디어관 410호   박지훈
7   JMCO259-00     다문화사회와미디어(영강)   화(3-4) 미디어관 410호 목(3-4) 미디어관 410호   김형신
8   JMCO262-00        미디어와젠더(영강)   화(3-4) 미디어관 602호 목(3-4) 미디어관 602호   김수미
9   JMCO267-00         광고의이해(영강)       화(5) 미디어관 410호 목(5) 미디어관 410호   최세정
10  JMCO269-00             미디어경제       월(2) 미디어관 410호 수(2) 미디어관 410호   김정현
11  JMCO275-01       영상콘텐츠기초제작실습                     수(5-8) 미디어관B203  None
12  JMCO275-02       영상콘텐츠기초제작실습                    화(5-8) 미디어관 412호   정창영
13  JMCO277-01           저널리즘글쓰기                    월(5-8) 미디어관 309호   구본영
14  JMCO277-02           저널리즘글쓰기                    금(5-8) 미디어관 309호   김학순
15  JMCO277-03           저널리즘글쓰기                    목(5-8) 미디어관 309호   김학순
16  JMCO362-00         미디어경영(영강)       화(6) 미디어관 410호 목(6) 미디어관 410호   정윤혁
17  JMCO363-00       미디어효과이론(영강)       화(2) 미디어관 309호 목(2) 미디어관 309호   이선경
18  JMCO374-00   디지털미디어와민주주의프로젝트       화(2) 미디어관 602호 목(2) 미디어관 602호    민영
19  JMCO379-00          미디어산업과융합       월(2) 미디어관 309호 수(2) 미디어관 309호   김선미
20  JMCO384-00           미디어제작기획                    금(1-3) 미디어관 412호   임철희
21  JMCO385-00         미디어비평(영강)                    월(5-6) 미디어관 412호   노광우
22  JMCO387-00          영상이론(영강)       화(2) 미디어관 410호 목(2) 미디어관 410호   김형신
23  JMCO392-01      멀티미디어리포팅(영강)                    월(5-8) 미디어관 604호   윤화진
24  JMCO392-02          멀티미디어리포팅                    화(1-4) 미디어관 412호   윤화진
25  JMCO395-00           드라마프로덕션                    월(4-6) 미디어관 103호   김경묵
26  JMCO447-00             PR캠페인                     화(5-6) 미디어관B203   윤영민
27  JMCO451-00       미디어서비스개발과창업       월(1) 미디어관 410호 수(1) 미디어관 410호   김성철
28  JMCO457-00         미디어제작워크샵Ⅱ                    수(1-3) 미디어관 412호   정창영
29  JMCO459-00        미디어데이터분석특강                    화(5-6) 미디어관 602호   백현미
30  JMCO461-00     미디어·커뮤니케이션특강Ⅰ                    수(5-6) 미디어관 410호   박아란

In [18]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}.xlsx")

In [21]:
your_major = "BUSS" # 전공과목영문코드 입력
cour_num = []
name = []
cour_time = []
cour_prof = []

In [ ]:
for number in range (100, 500):
    url = "https://infodepot.korea.ac.kr/lecture1/lecsubjectPlanView.jsp?year=2023&term=1R&grad_cd=0136&col_cd=9999&dept_cd=4653&cour_cd=" + your_major + str(number) + "&cour_cls=00&"
    html = req.urlopen(url)
    doc = BeautifulSoup(html,"html.parser")
    temp_title = doc.h3.string
    if len(temp_title) == 19:
        for number2 in range (1, 10):
            url2 = url[:-2] + str(number2) + "&"
            html = req.urlopen(url2)
            doc = BeautifulSoup(html,"html.parser")
            temp_title = doc.h3.string
            if len(temp_title) == 19:
                break
            else:
                title = temp_title.split("[")[1].split("]")[0]
                try:
                    time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
                    time = " ".join(time)
                    prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
                except:
                    time = None
                    prof = None
                cour_time.append(time)
                cour_prof.append(prof)
                cour_number = your_major + str(number) + "-0" + str(number2)
                cour_num.append(cour_number)
                name.append(title)
                print(f"{cour_number} 완료")
    else:
        title = temp_title.split("[")[1].split("]")[0]
        try:
            time = doc.find(class_="tbl_view").tbody.tr.td.string.splitlines()
            time = " ".join(time)
            prof = doc.find(class_="tbl_view").next_sibling.next_sibling.next_sibling.next_sibling.tbody.tr.td.string
        except:
            time = None
            prof = None
        cour_time.append(time)
        cour_prof.append(prof)
        cour_number = your_major + str(number) + "-00"
        cour_num.append(cour_number)
        name.append(title)
        print(f"{cour_number} 완료")

BUSS152-01 완료
BUSS152-02 완료
BUSS152-03 완료
BUSS152-04 완료
BUSS152-05 완료
BUSS152-06 완료
BUSS154-01 완료
BUSS154-02 완료
BUSS154-03 완료
BUSS154-04 완료
BUSS154-05 완료
BUSS154-06 완료
BUSS154-07 완료

In [ ]:
cour_table = pd.DataFrame({"학수번호" : cour_num, "강의명" : name, "시간" : cour_time, "교수명" : cour_prof})
cour_table

In [ ]:
cour_table_2 = cour_table.drop(cour_table[cour_table["강의명"] == " "].index)
cour_table_2.to_excel(f"23_1_{your_major}.xlsx")